body  {
    font-family: 'Calibri';
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background-image: url('../fondo.png');
}

a {
    text-decoration: none;
}

h2 {
    color: #fe2e9a;
    color: #cc2efa;
    color: #f3f781;
    color: #ffbf00;
    color: #ff4000;
    color: #f5da81;
    color: #f5a9e1;
    color: #6a0888;
    color: #bf00ff;
}

ul.buttons-container {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

ul.buttons-container-x li {
    background-color: #f3f781;
    width: 180px;
    padding: 15px 10px;
    text-align: center;
    border: 1px solid #ffbf00;
    display: inline-block;
    cursor: pointer;
    
}

ul.buttons-container-x li:hover {
    background-color: #f5da81;
}

ul.buttons-container-x li a {
    color: #ff4000;
    font-weight: bold;
}

ul.buttons-container-y li {
    background-color: #f5a9e1;
    width: 180px;
    padding: 12px 10px;
    text-align: right;
    border: 1px solid #cc2efa;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

ul.buttons-container-y li:hover {
    background-color: #fe2e9a;
}

ul.buttons-container-y li a {
    color: #6a0888;
    font-weight: bold;
}